.main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 5px;
}

#canvas {
  width: 100%;
  height: 100%; 
  position: absolute;
  z-index: 1;
}

.isobar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  height: 100%;
}

p {
  z-index: 20;
  transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  text-transform: uppercase;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 0.75em;
}